.Card {
  position: absolute;
  width: 40vw;
  left: 36px;
  right: 694px;
  top: 100vh;
  border-radius: 16px;
  padding: 10px;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  margin: auto;
}