.HeaderDesign {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
  left: 0%;
  right: -77.78%;
  top: 0%;
  bottom: 96.05%;
  height: 8vh;
  padding: 5px;
}

.HeaderDesign p{
    position: absolute;
    height: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 34.2222px;
    color: #7e72f2;
    margin-left: 100px;
}

img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    padding: 10px;
}
