.Card{
  position: absolute;
  width: 15vw;
  height: 30vh;
  left: 20px;
  right: 694px;
  top: 60vh;
  background: #ffffff;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid #7e72f2;
}

.ImagemDesign {
  object-fit: contain;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.Card h4{
  font-size: 1rem;
  font-style: normal;

}

.Card p{
  font-feature-settings: "salt" on;
  color: #425466;
  font-size: 14px;
  line-height: 23px;
  margin-left: 5px;
}

.Card span {
  font-size: 14px;
  line-height: 23px;
  font-feature-settings: "salt" on;
  color: #425466;
  margin-left: 5px;

}

