.Card{
  position: absolute;
  width: 15vw;
  height: 40vh;
  left: 20px;
  right: 0px;
  top: 0px;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 100px;
  margin-top: 100px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid #f2994a;
}


.ImmagemDesign{
  object-fit: contain;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.Card p{
    font-size: 12px;
    line-height: 23px;
    font-feature-settings: "salt" on;
    color: #425466;
}

.Card span {
    font-size: 14px;
    line-height: 23px;
    font-feature-settings: "salt" on;
    color: #425466;

}